.hide {
  /* display: none; */
  width: 17%;
  margin: 1%;
  font-size: 1.1em;
  border-radius: 5px;
  padding: .5%;
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
}

.hide:hover,
.show:hover,
.dropdown:hover,
.search-button:hover,
.season-button:hover {
  border: 2px solid purple;
  background-color: lightblue;
  color: purple;
}

.show {
  width: 17%;
  margin: 1%;
  font-size: 1.1em;
  border-radius: 5px;
  padding: .5%;
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
}

.searchHeader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dropdown {
  margin: 1%;
  font-size: 1.1em;
  width: 67px;
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
}

.label-dropdown {
  font-size: 1.2em;
}

.search-input {
  width: 22%;
  margin: 1%;
  font-size: 1.1em;
  padding: .5%;
}

.search-button {
  width: 7%;
  margin: 1%;
  font-size: 1.1em;
  border-radius: 5px;
  padding: .5%;
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;
}

.season-button {
  width: 7%;
  margin: 1%;
  font-size: 1.1em;
  border-radius: 5px;
  padding: .5%;
  cursor: pointer;
  background-color: rebeccapurple;
  color: white;

}
